body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background: #3cc9b649;
}

input {
    padding: 8px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

input:focus {
    border-color: #007acc;
    box-shadow: 0 0 5px rgba(0, 122, 204, 0.5);
}

.div_button {
    display: flex;
    align-items: center;
}

button {
    padding: 8px 12px;
    margin: 5px;
    background-color: #2ca292;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 15px;
}

button:hover {
    background-color: #158778;
    transition: 0.3s;
}

ul {
    list-style: none;
    padding: 0;
}

li a {
    color: #3a67e3;
    text-decoration: none;
}